body {
  font-family: "Fira Sans", sans-serif;
  color: #444444;
  background-color: #f0f0f0;
  margin: 0;
}

h1 {
  font-family: "Zilla Slab", serif;
  font-size: 32px;
}

.navbar {
  background-color: #444444;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-center{
  flex-grow: 1;
}

.navbar-brand {
  font-size: 18px;
  font-weight: bold;
  color: #f0f0f0;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #999999;
}

.navbar-item {
  font-size: 16px;
  color: #f0f0f0;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.navbar-item:hover {
  color: #999999;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.breadcrumb li {
  text-decoration: none;
}

.breadcrumb li + li::before {
  color: #444444;
  content: "\0002f";
}

.breadcrumb li a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.container {
  max-width: 75em;
  padding: 3em;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  text-decoration: none;
  color: #444444;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
}

.list-item:hover {
  border-bottom: 1px solid #444444;
  border-top: 1px solid #444444;
  color: #000000;
}

.list-item-image {
  height: 128px;
  padding-right: 1em;
}

.list-item-title {
  font-weight: bold;
}

.list-item-center {
  flex-grow: 1;
}

.page-content h1 {
  font-family: "Zilla Slab", sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-decoration: underline;
}

.page-content img {
  height: 256px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.images a {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #444444;
}